body {
  background-color: #f5f5f5;
}

.bg-video {
  height: 330px;
  object-fit: cover;
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.headerBox {
  max-width: 1920px;
  /* background-color: rgb(102, 88, 88); */
  height: 330px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

.logoBox {
  width: 705px;
  margin: 0 auto;
  /* background-color: aquamarine; */
  position: relative;
}

.logo-Wrapper {
  width: 145px;
  height: 50px;
  /* background-color: coral; */
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
}

.logo-icon {
  font-size: 50px;
  color: #fff;
}

.wordCon h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 200;
  font-style: italic;
  line-height: 25px;
  text-align: left;

}

.wordCon span {
  color: #fff;
  font-size: 15px;

}

.topSearch {
  background-color: #f2f2f2;
  /* background-color: aquamarine; */
  width: 704px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.inputBox {
  flex: 1;
  position: relative;
  display: flex;
}

.one {
  flex: 1;
  /* height: 46px; */
  background: transparent;
  border: none;
  font-size: 18px;
  padding-left: 56px;
  box-sizing: border-box;
  /* background-color: coral; */

}

.icon-sousuo {
  font-size: 32px;
  color: #838383;
  position: absolute;
  left: 10px;
  top: 8px;
}

.searchBox {
  width: 80px;
}

.searchBtn {
  width: 80px;
  height: 48px;
  outline: none;
  border: none;
  background-color: #ff8200;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.icon-xinhao {
  color: #ff8200;
  font-size: 20px;
  position: absolute;
  right: -7px;
  top: 62px;
  transform: rotate(46deg)
}

/* 以上代码为header样式 */
/* 以上代码为header样式 */
/* 以上代码为header样式 */
.mainBox {
  display: flex;
  justify-content: space-between;
  max-width: 1122px;
  margin: 0 auto;
  margin-top: 5px;
}

/* 左边导航栏 */
.menubar {
  width: 182px;
  height: 562px;
  background-color: #ffffff;
  position: sticky;
  top: 56px;

}

.menuUL {
  padding-top: 18px;
  margin: 0 10px;

}

.menuLI {
  line-height: 24px;
  padding: 8px 16px;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.menuLI:hover {
  background-color: #f2f2f2;
}

.menuLI .iconfont {
  font-size: 24px;
  color: #838383;
  margin-right: 10px;

}

.menuLI a {
  font-size: 14px;
  color: #838383;
}

.selected a {
  color: #ff8200;
}

.selected .iconfont {
  color: #ff8200;
}

/* 中间内容 */
.containCon {
  flex: 1;
  /* background-color:lightblue; */
  margin: 0px 10px;
  height: 1000px;

}

.navCon {
  height: 44px;
  text-align: center;
  line-height: 44px;
  background-color: #ffffff;
  display: flex;

}

.navUL {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navUL li {
  margin: 0 auto;
  font-size: 14px;
}

.navLI {
  color: #ff8200;
  font-weight: 600;
}

.moreCon {
  width: 88px;
}

/* 右侧内容 */
.rightCon {
  width: 280px;
  height: 562px;
  background-color: #f5f5f5;
  /* background-color: #ff8200; */
  position: sticky;
  top:-562px;

}

/* 登录部分 */
.loginCon {
  height: 184px;
  background-image: url(../images/loginbg.jpg);
  background-size: cover;
  display: flex;

}

.loginCont {
  margin: auto auto;
}

.loginImg {
  display: block;
  margin: 0 auto;
}

.loginBtn {
  display: block;
  padding: 9px 30px;
  margin: auto;
  border: none;
  border-radius: 24px;
  background-color: #ff8200;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  color: #f2f2f2;
  margin-top: 18px;
  margin-bottom: 12px;
}

.loginBtn span {
  display: block;
  width: 100px;

}

.loginCard span {
  font-size: 14px;
  color: #939393;
  margin-left: 5px;
}

.loginA {
  font-size: 14px;
  color: #ff8200;

}
/* 榜单部分 */
.hotListCon{
  margin-top: 10px;
  background-color:#ffffff; 
}

.hotTop{
  display: flex;
  justify-content: space-between;
  height: 41px;
  line-height: 40px;
  font-size: 14px;
}
/* 控制字体颜色 */
.color-grey{
  color: #a6a6a6;
}
/* 控制置顶icon */
.icon-zhiding{
  font-size: 16px;
  font-weight: 700;
  color: #f26d5f;
  margin-right: 5px;
}

/* 控制边距 */
.margin{
  margin: 0px 18px;
}

.hotMiddle{
  margin: 0 auto;
}

.hotUL{
  /* background-color: #ff8200; */
}

.hotLI{
  display: flex;
  justify-content: space-between;
  height: 41px;
  line-height: 41px;
}

/* 控制数字1 2 3*/
.red-mark{
  font-size: 16px;
  font-weight: 700;
  color: #f26d5f;
  width: 20px;
  margin-left: 2px;
}

/* 控制新字4~10 */
.yellow-mark{
  font-size: 15px;
  color: #ff8200;
  width: 20px;
  margin-left: 2px;

}

/* 控制热度值 */
.f12{
  font-size: 12px;
  color: #939393;
}

/* 控制沸字 */
.hotWard{
  background-color: rgb(248, 100, 0);
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 4px;

}

/* 控制新字 */
.newWard{
  background-color: rgb(255, 56, 82);
}

.sidePanel{
  display: flex;
  justify-content: space-between;
}

.hotText{
  font-size: 12px;
  margin-right: 10px;
  color: #333;
}
.hotBottom{
  height: 41px;
  line-height:41px;
  text-align: center;
}
/* 关于微博部分 */
.messageCon{
  height: 242px;
  padding-top:18px;
}
.con1{
  margin: 16px 0px 3px 0px;
}

.mc1{
  font-size: 11px;
  color: #606060;
}
.mc2{
  display: inline-block;
  height: 18px;
  color: rgb(147, 147, 147);
  font-size: 5px;
  margin-right:2px;
}
.mc3{
  color: rgb(147, 147, 147);
  font-size: 5px;
}
.mcimg{
  width: 65px;
  height: 30px;
}