.secondCon{
    margin-top: 10px;
}
.articleWrap{
    background-color: var(--theme-bg)
}
.articleTop{
    padding: 20px 20px 0 20px;
}
.avatar img{
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

